body {
    padding: 0% 2%;
}

.container .buttons {
    display: flex;
}

.container {
    flex-direction: column;
}

.buttons {
    justify-content: space-around;
}

.buttons button {
    border-radius: 8px;
}